<!DOCTYPE html>
<html>
<title>FirstAPI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1000px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-60">
      <h1>Hi Jussi, this is my first API</h1>
      <h1>it is a bit slow in downloading data for COVID from WHO page</h1>
    </div>
    <div class="w3-padding-60">
      
      <a href="/time">Time</a> 
    </div>
    <div class="w3-padding-60"></div>
      <a href="/COVID">Covid status</a>
      
    </div>
  </div>